{% extends "layout.html" %}

{% block css %}


{% end %}

{% block webinfo %}

<div class="wrapper-page">
    <br>
    <div class="text-center">
        <span class="logo">修改登陆口令</span></a>
    </div>
    <div class="m-t-40 card-box" style="background-color: rgba(0,0,0,0.3)">
        <div class="panel-body">
            <form class="form-horizontal m-t-20" action="change_pass" method="post">

                <div class="form-group ">
                    <div class="col-xs-12">
                        {% module xsrf_form_html() %}
                        <input class="form-control" type="text" required="" placeholder="Old Password" name="old_password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        {% module xsrf_form_html() %}
                        <input class="form-control" type="text" required="" placeholder="New Password" name="new_password">
                    </div>
                </div>
                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button class="btn btn-bordred btn-block waves-effect waves-light" type="submit"
                                style="background-color: rgba(100,180,180,0.6);color:white">提交
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- end card-box-->
<script type="text/javascript">
    {% if error == 3 %}
        alert('你输入的原密码错误！');
    {% elif error == 2 %}
        alert('修改密码失败，已重置为原来的密码！');
    {% elif error == 1 %}
        alert('密码不能为空！');
    {% elif error == 0 %}
        alert('密码修改成功！');
    {% end %}

</script>
</div>
{% end %}

{% block js %}


{% end %}
