{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="static/css/docker.css">
    <link href="static/buss/css/plugin.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/dropify.min.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block webinfo %}


<br /><br /><br />
<div class='loader'>
  <div class='loader_overlay'></div>
  <div class='loader_cogs'>
    <div class='loader_cogs__top'>
      <div class='top_part'></div>
      <div class='top_part'></div>
      <div class='top_part'></div>
      <div class='top_hole'></div>
    </div>
    <div class='loader_cogs__left'>
      <div class='left_part'></div>
      <div class='left_part'></div>
      <div class='left_part'></div>
      <div class='left_hole'></div>
    </div>
    <div class='loader_cogs__bottom'>
      <div class='bottom_part'></div>
      <div class='bottom_part'></div>
      <div class='bottom_part'></div>
      <div class='bottom_hole'></div>
    </div>
  </div>
</div>
<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h3 class="text-uppercase font-600">没有关闭所有的环境，无法退出系统！</h3>
        <!--<h3 class="text-uppercase font-600">是否关闭所有环境并退出系统？</h3>-->
        <div class="modal-footer">
            <a href="/stop_all_containers">
                <button type="button" class="btn btn-info waves-effect waves-light" >关闭并退出</button>
            </a>&nbsp;&nbsp;
            <a href="/">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">返回主页</button>
            </a>
        </div>
    </div>
</div>


{% end %}